body{
    padding: 3%;
    background: radial-gradient(circle, 
    rgba(31, 31, 167, 0.301) 50%, 
    rgb(107, 123, 211) 99%);

}
.cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}
.contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(21, 0, 143, 0.1);
    padding:  40px;
    border-radius: 20%;
}
